#graph {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
#intent {
    display: inline-block;
    vertical-align: top;
    width: 59%;
}
#remove,
#setInputContext {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    left: 0;
    top: 0;
    background: rgba(100,100,100,0.5);
}
#remove.shown,
#setInputContext.shown {
    display: block;
}
#remove > div,
#setInputContext > div {
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #fff;
    width: 350px;
    margin: 0 auto;
    padding: 5px;
    top: 50%;
    position: relative;
    margin-top: -65px;
}